<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>instagram</title>
<body>
    <h1> you searched for the @<%= data.name %></h1>

    <button>follow</button>
     <button>message</button>


     <h3>followers :  <%= data.followers%> </h3>
     <h3>following :  <%= data.following%> </h3>

    <h1>Posts</h1> &nbsp;
    <div class="posts" style="display: flex; gap:45px;">

        <div class="subpost" style="display: flex; flex-direction: column;">
         <img src="<%= data.posts[0].image %>"  style="width : 150px ; height : 120px; ">
         <h3 style="margin-left: 2px; font-size: small;"> Likes :<%= data.posts[0].likes %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments :<%= data.posts[0].comments %></h3>
        </div>

        <div class="subpost" style="display: flex; flex-direction: column;">
         <img src="<%= data.posts[1].image %>"  style="width : 150px ; height : 120px; ">
         <h3 style="margin-left: 2px; font-size: small;"> Likes :<%= data.posts[1].likes %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments :<%= data.posts[0].comments %></h3>
        </div>


        <div class="subpost" style="display: flex; flex-direction: column;">
         <img src="<%= data.posts[2].image %>"  style="width : 150px ; height : 120px; ">
         <h3 style="margin-left: 2px;  font-size: small;"> Likes :<%= data.posts[2].likes %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments :<%= data.posts[0].comments %></h3>
        </div>
    </div>
    

    
</body>
</html>